@import "../../../styles/base/colors.scss";

.input__field {
  &__inputWrapper {
    min-width: _get-rem(200px);
  }

  &__label {
    top: _get-rem(16px);
    left: _get-rem(16px);
    transition: all 0.25s cubic-bezier(0.5, 0, 0.1, 1);

    &--dark {
      color: rgba($color-white, 0.7);
    }

    &--light {
      color: rgba($color-black, 0.5);
    }

    &--active,
    &--filled {
      top: 0;
    }
  }

  &__input {
    &--dark {
      background: rgba(22, 22, 22, 0.7);
      border-color: rgba(128, 128, 128, 0.7);
      color: $color-white;
    }

    &--light {
      background: $color-white;
      border-color: $color-black;
      color: $color-black;
    }

    &--error {
      border-color: $color-primary;
    }
  }

  &__errorMessage {
    color: $color-primary;
    margin-top: _get-rem(3px);
  }
}
