.header__desktop {
  &--notLoggedIn {
    height: _get-rem(86px);

    @media (max-width: 640px) {
      height: _get-rem(80px);
    }
  }

  &--registration {
    border-bottom: 1px solid rgba($color-lightgrey, 0.2);
  }
}
