@import "../../../styles/base/colors.scss";
@import "../../../styles/base/helpers.scss";

.logo {
  display: block;
  width: _get-rem(148px);
  height: auto;
  color: $color-primary;
  fill: $color-primary;
  min-width: _get-rem(89px);

  @media (max-width: 960px) {
    width: _get-rem(89px);
  }
}
