.logo {
  color: $color-primary;
  fill: $color-primary;
  min-width: _get-rem(89px);

  &--large {
    width: _get-rem(148px);

    @media (max-width: 960px) {
      width: _get-rem(89px);
    }
  }

  &--small {
    width: _get-rem(89px);
  }
}
