.modal {
  transform: translate(-50%);
  background-color: $color-dashboard;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  &--active {
    opacity: 1;
  }

  &--inActive {
    opacity: 0;
  }

  @media (min-width: 640px) {
    max-height: 84vh;
  }

  &__content {
    padding: 24px;
  }

  &__overlay {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    background-color: rgba($color-black, 0.7);
    backdrop-filter: blur(_get-rem(5px));

    &--active {
      opacity: 1;
    }

    &--inActive {
      opacity: 0;
    }
  }
}
