.dashboard-movie-pop-up {
  &__content {
    background: $color-dashboard;
  }

  &__wrapper {
    width: 30rem;
    opacity: 0;
    box-shadow: 1px 3px 18px 9px rgba(0, 0, 0, 1);
    transition: all 0.2s ease-in-out;
  }

  &--left {
    transform: translateY(-50%) scale(0.5);
    transform-origin: left;

    &--active {
      opacity: 1;
      transform: translateY(-50%) scale(0.825);
    }

    &--inActive {
      opacity: 0;
      transform: translateY(-50%) scale(0.5);
    }
  }

  &--right {
    transform: translateY(-50%) scale(0.5);
    transform-origin: right;

    &--active {
      opacity: 1;
      transform: translateY(-50%) scale(0.825);
    }

    &--inActive {
      opacity: 0;
      transform: translateY(-50%) scale(0.5);
    }
  }

  &--center {
    transform: translate(-50%, -50%) scale(0.5);

    &--active {
      opacity: 1;
      transform: translate(-50%, -50%) scale(0.825);
    }

    &--inActive {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.5);
    }
  }
}
