.loginForm {
  background-color: rgba($color-black, 0.75);

  &__gradient {
    z-index: 1;
    background: rgba($color-background, 0.45);
  }

  &__imageContainer {
    @media (max-width: 640px) {
      background: black;
    }
  }

  &__image {
    @media (max-width: 640px) {
      display: none;
    }
  }

  &__container::before {
    content: "";
    display: block;
    height: _get-rem(86px);
  }

  &__container::after {
    content: "";
    display: block;
    height: _get-rem(236px);

    @media (max-width: 640px) {
      height: _get-rem(100px);
    }
  }
}
