.hero-banner {
  &__gradient {
    z-index: 1;
    min-height: _get-rem(960px);
    background: linear-gradient(
      180deg,
      rgba(0, 8, 29, 0.45) 0%,
      rgba(0, 8, 29, 1) 90%
    );
  }

  &__imageContainer {
    min-height: _get-rem(960px);
  }
}
