//Swiper styles
.swiper {
  overflow: visible;
  min-height: _get-rem(130px);

  .swiper-slide:not(.swiper-slide-visible) {
    opacity: 0.3;
    pointer-events: none;

    @media screen and (max-width: 1024px) {
      opacity: 1;
      pointer-events: all;
    }
  }

  .swiper-slide {
    transition: 0.3s ease opacity;
    height: auto;
    transform: unset;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 50px;
    height: 50px;
    color: $color-white;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 100%;
    transition: opacity 0.3s ease;
    background-color: $color-primary;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;

    &:after {
      content: none;
    }

    @media screen and (max-width: 1023px) {
      display: none !important;
    }
  }

  .swiper-button-disabled {
    opacity: 0;
  }

  .swiper-button-next {
    right: 0;
  }

  .swiper-button-prev {
    left: 0;
  }

  .swiper-button--active {
    opacity: 1;
  }
}
