.button {
  transition: background-color 0.15s ease-in-out;

  &--primary,
  &--start {
    background-color: $color-primary;

    &:hover {
      background-color: darken($color-primary, 10%);
    }
  }

  &--secondary {
    background-color: $color-white;

    &:hover {
      background-color: darken($color-white, 10%);
    }
  }

  &--tertiary {
    background-color: rgba($color-white, 0.2);

    &:hover {
      background-color: darken(rgba($color-white, 0.2), 20%);
    }
  }

  &--close {
    background-color: rgba($color-black, 0.7);

    &:hover {
      background-color: $color-black;
    }
  }
}
